<div>Hello world</div>
<input type="text" [(ngModel)]="name">
<p> {{name}} </p>
<button [disabled]="!allowtosubmit" class="btn btn-primary" (click)="
onCreateServer()">submit</button>
<p [innerText]="allowtosubmit "></p>
<p *ngIf="allowtosubmit else nouser" [ngStyle]="{backgroundColor:getcolor()}">server is created</p>

<ng-template #nouser>
    <p [ngStyle]="{backgroundColor:getcolor()}">server is not created </p>
</ng-template>
<app-test></app-test>
<label for="">first name</label>
<input type="text" class="form-control" (input)="onUpdate($event)">
<p>{{fname}}</p>
<input type="text" class="form-control" [(ngModel)]="fname">

<h1>calculator</h1>
<input type="number" [(ngModel)]="num1">
<input type="number" [(ngModel)]="num2">
<button (click)="calculate()">calculate</button>
<p>{{total}}</p>

<router-outlet></router-outlet>
